<footer class="sticky-footer">
  <div class="images">
    <a href="https://youtube.com/c/paugramming" target="_blank"
      ><img src="{{ root_url }}/assets/images/youtube-svgrepo-com-1.svg"
    /></a>
    <a href="https://instagram.com/paugramming" target="_blank">
      <img src="{{ root_url}}/assets/images/instagram-svgrepo-com-1.svg" />
    </a>
    <a href="https://twitter.com/paugramming" target="_blank"
      ><img src="{{ root_url}}/assets/images/twitter-svgrepo-com-1.svg"
    /></a>
    <a href="https://paugramming.com/" target="_blank">
      <img src="{{ root_url}}/assets/images/web-svgrepo-com-1.svg" />
    </a>
    <a href="mailto:jethro.riosa@gmail.com" target="_blank">
      <img src="{{ root_url}}/assets/images/email-svgrepo-com-1.svg" />
    </a>
  </div>
  <div class="footer-text">
    <span>© - Jethro Paulo Riosa - All rights reserved</span>
  </div>
</footer>
