<nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="https://github.com/pau-riosa">
      <h1 class="title">Pau Riosa</h1>
    </a>
    <ul class="navigation-list float-right">
      <li class="navigation-item"><a href="/">Home</a></li>
      <li class="navigation-item"><a href="/blogs.html">Blogs</a></li>
      <li class="navigation-item">
        <a href="/case-studies.html">Case Studies</a>
      </li>
      <li class="navigation-item"><a href="/about.html">About</a></li>
    </ul>
  </section>
</nav>
