* { 
    font-family: "Quicksand", Heltvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: bold;
    color: #9b4dca;
}

.wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.wrapper>.container {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}

.wrapper .container {
    max-width: 80rem;
}

.navigation {
    background: #F5F5F5;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
.navigation .container {
    padding-bottom: 0;
    padding-top: 0;
}

.navigation .navigation-link, .navigation .navigation-title, .navigation .title {
    text-decoration: none;
    color: #5aa3d1;
    display: inline;
    font-size: 1.8rem;
    line-height: 5.2rem;
    padding: 0;
}

.navigation .navigation-title, .navigation .title  {
    font-family: "Quicksand", Heltvetica, sans-serif;
    position: relative;
}

.navigation
.navigation-item {
    float: left;
    margin-left: 2.5rem;
    line-height: 5.2rem;
    text-decoration: none;
}

.navigation 
.navigation-list {
    list-style: none;
}

.footer {
    padding: 8rem 0 2rem;
}

.post-list {
    list-style: none;
    margin-top: 25px;
}

.post-link {
    font-size: 2rem;
    font-weight: 300;
}

.post-excerpt, .post-title {
    text-align: justify;
}

.post-date {
    font-size: 16px;
    float: right;
}
.post-date-author {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.post-content {
    text-align: justify !important;
}
