* {
  font-family: "Quicksand", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666666;
  font-weight: bold;
}

a {
  color: #c7c7c7;
  text-decoration: none;
}

p code {
  background-color: #96a1a342;
}

pre {
  background-color: #96a1a342;
  color: none;
  margin: 25px 0;
  padding: 25px;
}

pre code {
  color: none;
}

blockquote {
  padding: 25px;
  font-style: italic;
  color: #606c76;
  background-color: #f5f5f5;
}

p {
  margin: 25px 0;
  text-align: justify;
}

section.hero-section {
  position: relative;
  width: 50%;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin: auto;
}

/* navigation */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 100%;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

/* end of navigation */

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content .text-box {
  position: relative;
  max-width: 600px;
}

.content .text-box h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .text-box h2 span {
  font-size: 1.2em;
  font-weight: 900;
}

.content .text-box p {
  color: #333;
}

.content .text-box a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.content .img-box {
  width: 600px;
  display: flex;
  padding-right: 50px;
  margin-top: 50px;
}

.content .img-box img {
  max-width: 100%;
}

/* tech-stack-section */
section.tech-stack-section {
  position: relative;
  width: 50%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  margin: auto;
}

section.tech-stack-section .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section.tech-stack-section .column {
  display: flex;
  flex-direction: column;
  width: 150px;
}

/* end of tech-stack-section */

/* post-section */
section.post-section {
  position: relative;
  width: 50%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: auto;
}

section.post-section .post-list {
  width: 100%;
}

section.post-section .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section.post-section .column {
  display: flex;
  flex-direction: column;
}

section.post-section ul {
  list-style: none;
}

section.post-section a {
  color: black;
  text-decoration: none;
  line-height: 50px;
}

section.post-section .post-date {
  margin-left: 100px;
  float: right;
}

/* end of post-section */

/* post-section */
section.post-content-section {
  position: relative;
  width: 50%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #fff;
  margin: auto;
}

section.post-content-section .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

section.post-content-section .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.post-content-section .post-content {
  margin: 100px 0;
}

img {
  width: 100%;
}

/* end of post-section */
